*{
    padding: 0;
    margin: 0;
}

.container {
	width: 54%;
	height: 700px;
	background: #080a0bd6;
	padding-left: 8%;
	margin: 14% 27%;
	padding-top: 5%;
	box-shadow: -11px -11px -11px -11px solid gray;
	color: #ffff;
}